@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.mood {
  // --------------mood---------------
  &__moodContainer {
    @include flex(unset, column, center, center);
    margin: 2rem 2rem 1rem 2rem;

    @include tablet {
      margin: 4rem 8rem 2rem 8rem;
    }
  }
  &__moodHeader {
    color: $charcoal;
    font-weight: bold;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
  &__moodSelector {
    @include flex(100%, row, center, space-evenly);
    background-color: $neutral;
    height: 3rem;

    border-radius: 1rem;
    border: 2px solid $charcoal;

    @include tablet {
      border-radius: 2rem;
      height: 4rem;
    }

    @include desktop {
      border-radius: 2rem;
      height: 6rem;
    }
  }

  &__joyful,
  &__content,
  &__confused,
  &__angry,
  &__crying {
    font-size: 1.5rem;
    @include flex(unset, column, center, center);
    transition: transform 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
    }
    &:active {
      transform: translateY(-10px);
    }

    &--selected {
      background-color: lighten($mint, 20%);
      border: 2px solid $mint;
      transform: translateY(-12px);
      border-radius: 50%;

      &:hover {
        background-color: transparent;
        border: none;
      }

      @include tablet {
        transform: translateY(-16px);
      }

      @include desktop {
        transform: translateY(-25px);
      }
    }

    @include tablet {
      font-size: 2.5rem;
    }
    @include desktop {
      font-size: 4rem;
    }
  }

  &__joyfulText,
  &__contentText,
  &__confusedText,
  &__angryText,
  &__cryingText {
    display: none;
    opacity: none;
  }

  &__joyful:hover &__joyfulText,
  &__content:hover &__contentText,
  &__confused:hover &__confusedText,
  &__angry:hover &__angryText,
  &__crying:hover &__cryingText {
    display: block;
    opacity: 1;
    font-size: 0.75rem;
    color: $charcoal;
    font-weight: bold;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }
  // --------------------buttons ----------------------

  &__buttonContainer {
    @include flex(100%, row, center, center);
    margin: 1rem 0;

    @include tablet {
      justify-content: right;
    }

    @include desktop {
      justify-content: right;
    }
  }

  &__preserve,
  &__cancel {
    border-radius: 0.625rem;
    font-weight: bold;
    color: $charcoal;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  &__preserve {
    background-color: $mint;
    margin-right: 1rem;
    &:hover {
      background-color: darken($mint, 10%);
      transform: scale(1.05);
    }
  }
  &__cancel {
    background-color: $coral;
    &:hover {
      background-color: darken($coral, 10%);
      transform: scale(1.05);
    }
  }
}
