@use "./variables" as *;

@mixin flex($width: unset, $direction: row, $align: normal, $justify: normal) {
  display: flex;
  width: $width;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
