@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.journal {
  &__dateContainer {
    @include flex(unset, row, center, center);
  }
  &__date {
    color: $charcoal;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }

  // -------- previous journal --------

  &__history {
    @include flex(unset, column, center, center);
    margin: 0 2rem 0 2rem;

    @include tablet {
      margin: 0 8rem 0 8rem;
    }

    @include desktop {
      margin: 0 8rem 0 8rem;
    }
  }
  &__historyTitle {
    color: $charcoal;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 2.5rem;
    }
  }

  &__cardContainer {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__entryDate {
    color: $charcoal;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;

    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__card {
    @include flex(100%, column, unset, center);
    background-color: $lavender;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid $charcoal;
    margin-bottom: 1rem;
  }
  &__cardTitle {
    color: $charcoal;
    font-weight: bold;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__text {
    color: $charcoal;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__actions {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
  }
  &__edit,
  &__delete {
    background: none;
    border: none;
    cursor: pointer;
  }
  // ------------Edit Journal Modal----------------
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // semi-transparent background
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; // make sure it's above other content
  }
}
