@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
// --------------journal entry-------------
.journal {
  &__journalContainer {
    @include flex(unset, column, center, center);
    margin: 2rem 2rem 1rem 2rem;
    @include tablet {
      margin: 4rem 8rem 1rem 8rem;
    }
    @include desktop {
      margin: 4rem 8rem 1rem 8rem;
    }
  }
  &__journalHeader {
    color: $charcoal;
    font-weight: bold;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 2.5rem;
    }
  }

  &__title {
    width: 100%;
    height: 2.5rem; // Adjusted for text input height
    background-color: $neutral;
    color: $charcoal;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-bottom: 1rem;

    @include tablet {
      height: 3rem;
    }
    @include desktop {
      height: 4.5rem;
    }

    &::placeholder {
      color: $charcoal;
      text-align: center;

      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
    }

    &:focus {
      outline: none;
      border-color: darken($charcoal, 10%);
      background-color: lighten($neutral, 5%);
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__journal {
    width: 100%;
    height: 7rem;
    background-color: $neutral;
    color: $charcoal;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    resize: none;
    overflow-y: auto;

    @include tablet {
      height: 10rem;
    }
    @include desktop {
      height: 15rem;
    }

    &::placeholder {
      color: $charcoal;
      text-align: center;
      padding: 2.25rem 0.5rem;

      @include tablet {
        font-size: 1rem;
        padding: 3.25rem 0.5rem;
      }
      @include desktop {
        font-size: 1.5rem;
        padding: 5.5rem 0.5rem;
      }
    }

    &:focus {
      outline: none;
      border-color: darken($charcoal, 10%);
      background-color: lighten($neutral, 5%);

      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__title,
  &__journal {
    border: 2px solid $mint;
    &--error {
      border: 2px solid coral;
    }
    &:focus {
      outline: none;
      border-color: darken($mint, 20%);
    }
    border-radius: 1rem;
  }

  // --------------------buttons ----------------------

  &__buttonContainer {
    @include flex(100%, row, center, center);
    margin: 1rem 0;

    @include tablet {
      justify-content: right;
    }

    @include desktop {
      justify-content: right;
    }
  }

  &__preserve,
  &__cancel {
    border-radius: 0.625rem;
    font-weight: bold;
    color: $charcoal;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  &__preserve {
    background-color: $mint;
    margin-right: 1rem;
    &:hover {
      background-color: darken($mint, 10%);
      transform: scale(1.05);
    }
  }
  &__cancel {
    background-color: $coral;
    &:hover {
      background-color: darken($coral, 10%);
      transform: scale(1.05);
    }
  }
}

//toaster styles
.custom-toast-error,
.custom-toast {
  background-color: darken($paleBlue, 10%) !important;
  color: darken($coral, 10%) !important;
  text-align: center;
  border: 2px solid $charcoal;
  border-radius: 1rem !important;
}

.custom-toast-body-error,
.custom-toast-body {
  font-weight: 600;
}

.custom-toast {
  color: darken($charcoal, 10%) !important;
}
