@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.mood {
  &__dateContainer {
    @include flex(unset, row, center, center);
  }

  &__date {
    color: $charcoal;
    margin-top: 1rem;
    font-size: 1rem;
  }

  // selectors

  &__selector {
    @include flex(unset, row, center, center);
    margin-top: 2rem;
  }

  &__history {
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: $lavender;
    color: $indigoBlue;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    border: 2px solid $charcoal;

    &:hover {
      background-color: lighten($lavender, 10%);
      transform: scale(1.05);
    }

    &--selected {
      background-color: lighten($indigoBlue, 10%);
      color: $neutral;
      border: 2px solid darken($mint, 10%);

      &:hover {
        background-color: lighten($indigoBlue, 10%);
        transform: scale(1.05);
      }
    }
  }

  &__analytics {
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: $paleBlue;
    color: $charcoal;
    border: 2px solid $charcoal;
    cursor: pointer;

    &:hover {
      background-color: lighten($paleBlue, 10%);
      transform: scale(1.05);
    }

    &--selected {
      background-color: $charcoal;
      color: $neutral;
      border: 2px solid lighten($paleBlue, 10%);

      &:hover {
        background-color: lighten($charcoal, 5%);
        transform: scale(1.05);
      }
    }
  }
}
