@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.analytics {
  &__titleContainer {
    @include flex(unset, column, center, center);
  }
  &__title {
    margin-top: 2rem;
    color: $charcoal;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__buttonContainer {
    @include flex(unset, row, center, space-evenly);
    margin-bottom: 2rem;
  }

  &__content {
    background-color: $mint;
    color: $charcoal;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: $coral;
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
