@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex(unset, column, center, center);
  padding: 1rem 1rem 1rem 1rem;

  &__container {
    @include flex(unset, row, center, center);
  }
  &__logo {
    width: 2.5rem;
    margin-right: 0.85rem;
    cursor: pointer;
    @include tablet {
      width: 3.25rem;
      margin-right: 1rem;
    }
    @include desktop {
      width: 5rem;
      margin-right: 1.75rem;
    }
  }
  &__title {
    color: $charcoal;
    font-size: 2.5rem;

    @include tablet {
      font-size: 3rem;
    }
    @include desktop {
      font-size: 4rem;
    }
  }
  &__subTitle {
    color: $charcoal;
    font-size: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
}
