@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex(unset, column, center, center);
  padding: 1rem 1rem 1rem 1rem;
  &__title {
    color: $charcoal;
    font-size: 4rem;
  }
  &__subTitle {
    color: $charcoal;
    font-size: 1.5rem;
  }
}
